*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
input{
  padding: 20px;
  width: 200px;
  border-radius: 20px;
  font-size: 18px;
  font-family: sans-serif;
}
body{
  padding: 10px 30px;
  background: #1D1F1E;;
}
.container{
  padding: 40px 30px;
  margin: 0px auto;
  max-width: 1600px;
  width: 98%;
  height: 1900px;
  margin-bottom: 40px;
}