.card{
    max-width: 400px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover{
    background-color: #ffffff23;
}

.card img{
    max-width: 200px;
    border-radius: 20px;
    margin-bottom: 40px;
    transition: 0.3s;
}

.card img:hover{
    transform: scale(1.03);
}

.buttons{

    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    
}

.buttons button{
    padding: 5px;
    max-width: 200px;
    width: 98%;
    background-color: transparent;
    border: none;
}
.shop{
    width: 40px;
    height: 40px;
    fill: royalblue;
}
.edit-shop{
    width: 35px;
    height: 35px;
    fill: rgb(0, 255, 0);
}