.navbar{
    max-width: 1600px;
    width: 98%;
    height: 90px;
    background-color: royalblue;
    display: flex;
    align-items: center;
    padding: 30px;
    margin: 20px auto;
    border-radius: 20px;
    justify-content: space-between;
}

.right_navbar{
    width: 30%;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
}